@using FluiTec.AppFx.AspNetCore
@using FluiTec.AppFx.AspNetCore.Configuration
@using Microsoft.AspNetCore.Authorization
@model FluiTec.AppFx.AspNetCore.Examples.AuthExample.Models.IdentityAdmin.ClientClaimAddModel
@inject IdentityServerClaimOptions IdentityServerOptions
@inject IViewLocalizer Localizer
@inject IAuthorizationService AuthorizationService

<section id="maincontent" class="wrapper content-wrapper">
    <header>
        <h2>Klienten-Eigenschaftsverwaltung</h2>
    </header>
    <div class="container">
        <section>
            <h4>Eigenschaft ändern</h4>
            <hr />
            @Html.Partial("_ModelUpdateResult", Model)
            <form asp-controller="IdentityAdmin" asp-action="EditClientClaim" method="post">
                <div asp-validation-summary="All" class="text-danger" data-vlmsg-summary="true"></div>
                <input asp-for="ClientId" value="@Model.ClientId" hidden />
                <input asp-for="Type" value="@Model.Type" hidden />
                <div class="row uniform">
                    <div class="col-lg-6">
                        <input asp-for="Value" placeholder="Wert" data-rule-required="true" data-msg-required="Wert ist ein Pflichtfeld" />
                    </div>
                </div>
                <div class="row uniform">
                    <div class="col-lg-6">
                        <ul class="actions">
                            <li>
                                <input type="submit" value="Bearbeiten" />
                            </li>
                            <li>
                                <input type="reset" value="Zurücksetzen" />
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
            <h4>Actions</h4>
            <div class="row uniform">
                <div class="col-lg-6">
                    <ul class="actions">
                        <li>
                            <a asp-controller="IdentityAdmin" asp-action="ManageClients">Klientenverwaltung</a>
                        </li>
                        <li>
                            <a asp-controller="IdentityAdmin" asp-action="ManageClient" asp-route-clientid="@Model.ClientId">Klient verwalten</a>
                        </li>
                        <li>
                            <a asp-controller="IdentityAdmin" asp-action="ManageClientClaims" asp-route-clientid="@Model.ClientId">Eigenschaften</a>
                        </li>
                        @if ((await AuthorizationService.AuthorizeAsync(User, PolicyNames.ClientClaimsDelete)).Succeeded)
                        {
                        <li>
                            <a asp-controller="IdentityAdmin" asp-action="DeleteClientClaim" asp-route-clientid="@Model.ClientId" asp-route-claimtype="@Model.Type">Eigenschaft löschen</a>
                        </li>
                        }
                    </ul>
                </div>
            </div>
        </section>
    </div>
</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}