@using FluiTec.AppFx.AspNetCore
@using FluiTec.AppFx.AspNetCore.Configuration
@using Microsoft.AspNetCore.Authorization
@model FluiTec.AppFx.AspNetCore.Examples.AuthExample.Models.Admin.ClaimEditModel
@inject AuthenticationOptions AuthenticationOptions
@inject IViewLocalizer Localizer
@inject IAuthorizationService AuthorizationService

<section id="maincontent" class="wrapper content-wrapper">
    <header>
        <h2>User claims management</h2>
    </header>
    <div class="container">
        <section>
            <h4>Edit claim</h4>
            <hr />
            @Html.Partial("_ModelUpdateResult", Model)
            <form asp-controller="Admin" asp-action="EditUserClaim" method="post">
                <div asp-validation-summary="All" class="text-danger" data-vlmsg-summary="true"></div>
                <input asp-for="UserId" value="@Model.UserId" hidden />
                <input asp-for="Type" value="@Model.Type" hidden />
                <div class="row uniform">
                    <div class="col-lg-6">
                        <input asp-for="Value" placeholder="Value" data-rule-required="true" data-msg-required="Value is required" />
                    </div>
                </div>
                <div class="row uniform">
                    <div class="col-lg-6">
                        <ul class="actions">
                            <li>
                                <input type="submit" value="Edit" />
                            </li>
                            <li>
                                <input type="reset" value="Reset" />
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
            <h4>Actions</h4>
            <div class="row uniform">
                <div class="col-lg-6">
                    <ul class="actions">
                        <li>
                            <a asp-controller="Admin" asp-action="ManageUsers">User management</a>
                        </li>
                        <li>
                            <a asp-controller="Admin" asp-action="ManageUser" asp-route-userid="@Model.UserId">Manage user</a>
                        </li>
                        <li>
                            <a asp-controller="Admin" asp-action="ManageUserClaims" asp-route-userid="@Model.UserId">Manage user claims</a>
                        </li>
                        @if ((await AuthorizationService.AuthorizeAsync(User, PolicyNames.ClaimsDelete)).Succeeded)
                        {
                            <li>
                                <a asp-controller="Admin" asp-action="DeleteUserClaim" asp-route-userid="@Model.UserId" asp-route-claimtype="@Model.Type">Delete claim</a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </section>
    </div>
</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}