@using FluiTec.AppFx.AspNetCore
@model FluiTec.AppFx.AspNetCore.Examples.AuthExample.Models.IdentityAdmin.ResourceEditModel
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

@if ((await AuthorizationService.AuthorizeAsync(User, PolicyNames.RolesAccess)).Succeeded)
{
<section>
    @if (Model.ResourceScopes.Any())
        {
    <h4>Remove scopes</h4>
    <form asp-controller="IdentityAdmin" asp-action="RemoveApiResourceScope" method="post" class="form-horizontal">
        <div>
            <p>
                @foreach (var scope in Model.ResourceScopes)
                {
                <input name="Id" value="@Model.Id" type="hidden" readonly="" />
                <input type="submit" class="btn btn-default" name="Name" value="@scope.Name" title="@string.Format("remove {0}", scope.DisplayName)" />
                }
            </p>
        </div>
    </form>
        }
    @if (Model.Scopes.Any())
        {
    <h4>Add scopes</h4>
    <form asp-controller="IdentityAdmin" asp-action="AddApiResourceScope" method="post" class="form-horizontal">
        <div>
            <p>
                @foreach (var scope in Model.Scopes)
                {
                <input name="Id" value="@Model.Id" type="hidden" readonly="" />
                <input type="submit" class="btn btn-default" name="Name" value="@scope.Name" title="@string.Format("add {0}", scope.DisplayName)" />
                }
            </p>
        </div>
    </form>
        }
</section>
}
