@using FluiTec.AppFx.AspNetCore
@using FluiTec.AppFx.AspNetCore.Configuration
@using Microsoft.AspNetCore.Authorization
@model FluiTec.AppFx.AspNetCore.Examples.AuthExample.Models.IdentityAdmin.ResourceClaimEditModel
@inject IdentityServerClaimOptions IdentityServerOptions
@inject IViewLocalizer Localizer
@inject IAuthorizationService AuthorizationService

<section id="maincontent" class="wrapper content-wrapper">
    <header>
        <h2>Api resource claims management</h2>
    </header>
    <div class="container">
        <section>
            <h4>Edit claim</h4>
            <hr />
            @Html.Partial("_ModelUpdateResult", Model)
            <form asp-controller="IdentityAdmin" asp-action="EditApiResourceClaim" method="post">
                <div asp-validation-summary="All" class="text-danger" data-vlmsg-summary="true"></div>
                <input asp-for="ResourceId" value="@Model.ResourceId" hidden />
                <input asp-for="Type" value="@Model.Type" hidden />
                <div class="row uniform">
                    <div class="col-lg-6">
                        <ul class="actions">
                            <li>
                                <input type="submit" value="Edit" />
                            </li>
                            <li>
                                <input type="reset" value="Reset" />
                            </li>
                        </ul>
                    </div>
                </div>
            </form>
            <h4>Actions</h4>
            <div class="row uniform">
                <div class="col-lg-6">
                    <ul class="actions">
                        <li>
                            <a asp-controller="IdentityAdmin" asp-action="ManageApiResources">Api resource management</a>
                        </li>
                        <li>
                            <a asp-controller="IdentityAdmin" asp-action="ManageApiResource" asp-route-resourceid="@Model.ResourceId">Manage resource</a>
                        </li>
                        <li>
                            <a asp-controller="IdentityAdmin" asp-action="ManageApiResourceClaims" asp-route-resourceid="@Model.ResourceId">Manage resource claims</a>
                        </li>
                        @if ((await AuthorizationService.AuthorizeAsync(User, PolicyNames.ApiResourceClaimsDelete)).Succeeded)
                        {
                        <li>
                            <a asp-controller="IdentityAdmin" asp-action="DeleteApiResourceClaim" asp-route-resourceid="@Model.ResourceId" asp-route-claimtype="@Model.Type">Delete claim</a>
                        </li>
                        }
                    </ul>
                </div>
            </div>
        </section>
    </div>
</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}